# 🚀 Ignore all system files
.vscode/
__pycache__/
*.log

# 🚀 Ignore API Keys & Credentials
config.yaml
.env

# 🚀 Ignore Large Datasets (keep only small samples)
data/raw/
data/processed/

# 🚀 Ignore Streamlit Deployment Files
streamlit_app/__pycache__/
streamlit_app/pages/__pycache__/
streamlit_app/components/__pycache__/